// Variables
:root {
  --c-text: #bababa;
  --c-bg-1: #2b343b;
  --c-bg-2: #3f474d;
  --c-pallete-1: #9fc0a2;
  --c-pallete-2: #d36d6d;

  --border-radius: 2px;
  --box-shadow: none;
}

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

// Chessground
@import "../node_modules/chessground/assets/chessground.base";
@import "../node_modules/chessground/assets/chessground.brown";
@import "../node_modules/chessground/assets/chessground.cburnett";

// Chessground promotion
@import "../node_modules/chessground-promotion/src/index";

// Application
body {
  color: var(--c-text);
  background: var(--c-bg-1);
}

#root {
  font-size: 16px;
  padding: 16px;
  display: flex;
}

.board {
  position: relative;
  width: 500px;
  height: 500px;

  .cg-wrap {
    position: absolute;
    width: 100%;
    height: 100%;

    cg-board {
      box-shadow: var(--box-shadow);
    }
  }
}

.controls {
  margin-left: 16px;
  width: 160px;
  padding: 10px;
  border-radius: var(--border-radius);
  background: var(--c-bg-2);
  box-shadow: var(--box-shadow);

  input[type="checkbox"] {
    margin-right: 5px;
  }
}
