// Cf. https://github.com/ornicar/lila/blob/master/ui/chess/css/_promotion.scss

.cg-promotion {
  pointer-events: none;
  z-index: 20;

  cg-board {
    background: rgba(22, 21, 18, 0);
    transition-property: background;
    transition-duration: 150ms;
  }

  &.cg-promotion--open cg-board {
    cursor: initial;
    pointer-events: initial;
    background: rgba(22, 21, 18, 0.7);
  }

  square {
    cursor: pointer;
    border-radius: 50%;
    background-color: #b0b0b0;
    box-shadow: inset 0 0 25px 3px #808080;

    transition-property: border-radius, box-shadow;
    transition-duration: 150ms;

    piece {
      width: 100%;
      height: 100%;
      pointer-events: auto;
      opacity: 1;
      transform: scale(0.8);
      transition-property: transform;
      transition-duration: 150ms;
    }
  }

  square:hover {
    box-shadow: inset 0 0 48px 8px #d64f00;
    border-radius: 0%;

    piece {
      transform: none;
    }
  }
}
